@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #d3c19f #000;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #fff;
}

ul#first_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

ul#first_list > li {
  position: relative;
}

ul#first_list a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: flex;
  font-weight: 700;
  align-items: center;
  font-size: 15px;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

ul#first_list ul {
  list-style: none;
  position: absolute;
  top: 100%;
  display: none;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  z-index: 1000;
  box-shadow: 1px 1px 10px rgba(1, 1, 1, 1);
}

ul#first_list ul li {
  padding: 0;
  border-bottom: 1px solid #d3c19f;
  width: 200px;
}
ul#first_list ul li:last-child {
  border-bottom: none;
}

ul#first_list ul li a {
  padding: 10px 50px;
  display: block;
  color: #000;
  background: #fff;
  border-radius: 10px;
  margin: 5px 0px;
  transition: background 0.3s;
}

ul#first_list ul li a:hover {
  background: #d3c19f;
}

ul#first_list li:hover ul {
  display: block;
  animation: slideDown 0.5s forwards;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#first_list > li > a:hover {
  color: #d3c19f;
}

.global {
  background-image: url(images/temoinage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 60vh;
  transition: all 0.3s linear;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
  background-position-y: -25%;
}
.global > #Équipe_title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 90%;
  background-color: rgba(1, 1, 1, 0.5);
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase;
  /* height: 100%;
  color: #fff;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px; */
}
.global > #Équipe_title > h1 {
  color: #d3c19f;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #000;
  padding-bottom: 2%;
}
.global > #Équipe_title > h6 > a {
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
}
.global > #Équipe_title > h6 > a:hover {
  color: #d3c19f;
}
.global > #Équipe_title > h6 > span {
  color: #d3c19f;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}
.font-awesome {
  color: #fff;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  padding: 20px;
}
.font-awesome > a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  padding: 10px;
  text-shadow: 2px 2px 4px #000;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  display: none;
}

.font-awesome > a:hover {
  color: #d3c19f;
  border-bottom: 3px solid #d3c19f;
  border-top: 3px solid #d3c19f;
}
#Equipe_images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}
#Team_focus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

#Equipe_images > .team > #Team_focus > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease, z-index 0.3s ease;
}
#Equipe_images > .team > #Team_focus > h5 {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #d3c19f;
  text-transform: uppercase;
}
#Equipe_images > .team > #Team_focus > h2 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  html,
  body {
    overflow-x: hidden;
  }
  header {
    padding: 10px;
    width: 100%;
    /* height: 30vh; */
    display: flex;
    justify-content: space-between;
  }
  ul#first_list {
    display: none; /* Hide the menu by default on smaller screens */
    flex-direction: column;
    width: 100%;
    gap: 10px;
    left: 0;
    position: absolute;
    background-color: #1e1f2d;
    z-index: 1;
    top: 0; /* Ensure content is hidden when height is 0 */
    transition: height 0.7s cubic-bezier(0.25, 0.1, 0.25, 1); /* Smooth transition */
    text-align: start;
    animation: slideDown 0.5s forwards;
  }

  ul#first_list.open {
    display: flex; /* Show the menu when the class "open" is added */
    height: 50vh; /* Adjust height as needed */
  }
  .font-awesome {
    display: flex;
    align-items: center;
  }
  .font-awesome > a:first-child {
    display: block;
  }

  ul#first_list > li {
    position: relative;
    top: 25px;
    padding: 5px;
    width: 100px;
    text-align: start;
    border: 2px solid #d3c19f;
  }

  ul#first_list a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    display: flex;
    font-weight: 900;
    align-items: center;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    text-align: start;
  }

  ul#first_list.show {
    display: block; /* Show when class 'show' is added */
    top: 0;
  }
  .global .container img {
    width: 80px;
    height: auto;
  }
  .Equipe_images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
  }
  .team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
  }
}
